{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Carnage's Blog</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>

    <div>
        <header>
            <div class="nav-left">
                <h1><a href="{% url 'home' %}">Carnage's Blog</a></h1>
            </div>
            
            <div class="nav-right">
                <a href="{% url 'post_new' %}"> + New Blog Post</a>
                <a href="{% url 'signup' %}">SignUp</a>
            </div>
        </header>
    

        {% if user.is_authenticated %}
            <p> Hi {{ user.username }} </p>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'login' %}">Log In</a>
        {% endif %}
        
    
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>